@font-face {
  font-family: "Inconsolata";
  src: url("/Inconsolata-VariableFont_wdth,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: url("/Raleway-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("/Raleway-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("/Merriweather-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  src: url("/Merriweather-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: bold;
  src: url("/Merriweather-BoldItalic.ttf");
  font-display: swap;
}

:root {
  --palette-green1: #deffa2;
  --palette-green2: #1c3914;
  --palette-pink1: #ff6aff;
  --palette-purple1: #aa00ff;
  --palette-purple2: #aa55ff;

  --color-bg: white;
  --color-fg: black;
  --color-title: #d80111;
  --color-link: #020aad;
  --color-link-visited: #640044;

  --body-margin: 5px;
}

html {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;

  background-color: var(--color-bg);
  color: var(--color-fg);

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

pre,
code,
span.tag {
  font-family: "Inconsolata", monospace;
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

body > nav {
  align-self: flex-start;

  > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li::after {
      content: "|";
      margin: 0 5px 0;
    }

    li:last-child::after {
      content: "";
    }
  }
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
};

ul {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;

  @media (min-width: 1000px) {
    width: 50vw;
  }

  @media (min-width: 600px) and (max-width: 999px) {
    width: 66vw;
  }

  @media (max-width: 599px) {
    width: calc(100vw - 2 * var(--body-margin));
  }
}

main.home {
  height: 100%;

  img {
    margin: 20px;

    @media (min-width: 1000px) {
      width: min(50vw, 700px);
    }
    @media (min-width: 600px) and (max-width: 999px) {
      width: min(66vw, 700px);
    }
    @media (max-width: 599px) {
      width: calc(100vw - 2 * var(--body-margin));
    }
  }

  nav {
    font-size: x-large;
    @media (min-width: 700px) {
      width: 100%;
    }
    @media (max-width: 699px) {
      width: auto;
      > ul {
        flex-direction: column;
      }
    }
  }
}

main.blog-index {
  align-items: flex-start;

  > nav > ul {
    flex-direction: column;
    > li {
      margin-top: 1em;
    }
  }
}

main.blog-post {
  font-family: "Merriweather", serif;

  > h1 {
    align-self: flex-start;
  }

  div.footnote-definition {
    p {
      display: inline;
      font-size: small;
    }
  }
}

main.about {
  height: 100%;
}

div.tags-list > ul {
  display: inline-flex;
  list-style-type: none;
  padding: 0;

  > li {
    margin-left: 1ex;
    font-style: italic;
  }

  > li::after {
    content: ",";
  }

  > li:last-child::after {
    content: ".";
  }
}

footer {
  margin-top: auto;
}

footer > p > a small {
  color: var(--color-fg);
}

footer > p > a small:hover {
  color: var(--color-link);
}
