@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Merriweather-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  src: url("/fonts/Merriweather-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Merriweather-BoldItalic.ttf");
  font-display: swap;
}

body {
  font-family: "Raleway", sans-serif;

  --body-margin: 10px;
  margin: 0 var(--body-margin) 0;

  display: flex;
  flex-direction: column;

  height: 100vh;
}

main.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

main.home > img {
  margin-top: 1em;
  /*
   * We could clamp the height to some absolute value so it doesn't become
   * ridiculus on big vertical screens:
   */
  height: 50vh;
  align-self: center;
}


@media (min-width: 800px) {
  main.home nav {
    width: 250px;
  }
}

main.home p {
  align-self: center;
}

main.home nav > ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 799px) {
  main.home nav > ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5em;
  }
}

p.footer-copyright {
}
