@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/Roboto-Italic.ttf");
  font-display: swap;
}

body {
  --text-color: #fe3b00;

  font-family: "Roboto", sans-serif;
  color: var(--text-color);

  --body-margin: 10px;
  margin: var(--body-margin);

  display: flex;
  flex-direction: column;

  height: calc(100vh - 2 * var(--body-margin));
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;

  nav {
    align-self: flex-start;
    width: 25ex;
    margin-bottom: 20px;

    > ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li::after {
        content: "|";
        margin: 0 5px 0;
      }

      li:last-child::after {
        content: "";
      }
    }
  }

  div.infos {
    align-self: center;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 20px;
      text-align: center;
    }

    @media (min-width: 500px) {
      p {
        width: 500px; /* See also width on div.logo & img below */
      }
    }

    a {
      text-decoration: underline;
    }
  }

  div.logo {
    flex: 1 1 auto;
    align-items: center;
    align-self: center;
    display: flex;

    img {
      align-self: end;
      aspect-ratio: 1950 / 1791;
      @media (max-width: 499px) {
        width: calc(100vw - 2 * var(--body-margin));
      }
      @media (min-width: 500px) {
        max-height: min(50vh, 895px);
        width: 500px; /* Same as the width for the text in div.infos */
      }
    }
  }

  div.gallery {
    display: grid;
    --thumbnail-size: 200px;
    --columns: 4;
    --grid-gap: 5px;
    /* if we cannot fit our thumbnails at their optimal size, figure out what size we can use: */
    --thumbnail-reduced-size: calc(
      (100vw - 2 * var(--body-margin)) / var(--columns)
      - (var(--columns) - 1) * var(--grid-gap)
    );
    /* and pick the smallest of the two for the size of our grid columns: */
    --grid-size: min(var(--thumbnail-reduced-size), var(--thumbnail-size));
    grid-template-columns: repeat(var(--columns), var(--grid-size));
    gap: var(--grid-gap);
    margin-bottom: 20px;
    max-width: calc(var(--grid-size) * var(--columns) + 3 * var(--grid-gap));

    img {
      cursor: pointer;
      height: var(--grid-size);
      width: var(--grid-size);
    }
  }

  div.viewer {
    align-self: center;

    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;

    div.viewer-control {
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;

      p {
        font-size: xxx-large;
        @media (max-width: 499px) {
          margin: 10px;
        }
        @media (min-width: 500px) {
          margin: 20px;
        }
      }
    }
    div.viewer-control:hover {
      background-color: #ffebeb;
      transition-property: background-color, color;
      transition-duration: 0.15s, 0.15s;
      transition-timing-function: ease, ease;
      transition-delay: 0s, 0s;
      transition-behavior: normal, normal;
    }

    img {
      max-width: 80vw;
      max-height: 80vh;
      display: block;
    }

    #initial-photo {
      width: min(80vw, calc(80vh * (1333 / 2000)));
      height: min(80vh, calc(80vw * (2000 / 1333)));
    }
  }

  div.residents {
    display: flex;
    flex-direction: column;

    ul {
      margin: 0 10px;
      padding: 0;
      list-style-type: none;
    }

    img {
      aspect-ratio: 998 / 239;
      @media (max-width: 497px) {
        width: calc(100vw - 2 * var(--body-margin));
      }
      @media (min-width: 498px) {
        width: 498px; /* Same as the width for the text in div.infos */
      }
    }
  }

  div.meute {
    align-self: flex-end;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
      aspect-ratio: 3119 / 1752;
      width: min(calc(100vw - 2 * var(--body-margin)), 800px);
    }
  }
}
